@font-face {
  src: url('./fonts/Pokemon-Solid.ttf');
  font-family: 'Pokemon';
}

#screen {
  background-size: 100%;
  background-image: url('./images/pkbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Pokemon';
}
